@import '../../styles/utils';

.wrapper {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
  color: $color-accent;
  transition: color 0.3s ease-out;
  cursor: default;
  &::before {
    content: '';
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    position: absolute;
    z-index: -1;
    transform: rotate(var(--angle));
    background: linear-gradient(
      180deg,
      $color-dark 0%,
      $color-dark 40%,
      $color-accent 60%,
      $color-accent 70%,
      $color-higlight 80%,
      $color-higlight 100%
    );
    // background: linear-gradient(0deg, red 50%, blue 50%);
  }
  &::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: $color-higlight;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  &:hover {
    color: $color-higlight;
    &::after {
      opacity: 1;
    }
  }
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: $color-dark;
  width: 100%;
  height: 100%;
  border-radius: calc(1rem - 2px);
}
